

    <div class="container" ng-controller="IndexController">
        <div class="row row-content" >
            <div class="col-xs-12">
                <p style="padding:20px;"></p>
                <h1 align=center>Welcome to Musical Improv</h1>
            </div>
            <div class="col-xs-12">
                <p style="padding:20px;"></p>
                <h2>A New Way to Musical Improv</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec fermentum ipsum, id fermentum orci. Vivamus iaculis turpis metus, eget condimentum nibh vehicula nec. Cras augue magna, rutrum vitae facilisis a, pulvinar facilisis quam. Suspendisse dignissim quam quam. Aliquam fringilla nunc magna. Pellentesque vel justo nec nisi placerat interdum. Vestibulum eu sapien sit amet nulla pellentesque venenatis. Integer tincidunt, nulla id semper iaculis, ligula mi pretium ex, tincidunt dapibus velit eros ut nunc. Morbi euismod, ante a suscipit ultricies, velit turpis laoreet diam, vel vestibulum nisi tortor a sem. Nulla interdum arcu in rutrum tempus. Sed laoreet commodo finibus. Nulla tellus nunc, pretium sit amet nisl vitae, mollis sagittis orci. In viverra dapibus interdum.
</p><p>
Mauris a velit sit amet purus congue venenatis ut sed purus. Integer cursus vel erat non posuere. Integer ut augue nec dolor pellentesque fermentum. Donec id elit ornare, tristique risus sit amet, pellentesque magna. Vivamus vel lectus vel quam hendrerit congue. Fusce aliquet a ante sed luctus. In ut massa sagittis, aliquet nisi quis, sagittis eros. Mauris lobortis erat elit, in porttitor augue laoreet at. Sed vitae mattis erat. Donec commodo dapibus dolor sed consectetur.
</p><p>
Sed varius tincidunt quam eu egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed consequat dapibus enim vitae hendrerit. Integer sit amet leo sit amet enim faucibus congue. Etiam tempus tellus vel metus lacinia suscipit. In ornare nulla lorem, vitae vestibulum dolor bibendum eu. In venenatis, arcu sit amet convallis accumsan, justo risus ultrices neque, in venenatis sapien enim a lorem. Quisque sed egestas dui, lacinia volutpat nisi. Mauris pretium sit amet nunc non rhoncus. Fusce semper lorem eu quam egestas laoreet et et risus. Mauris fringilla ullamcorper porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc mauris velit, pharetra ac velit id, tristique tincidunt est. Duis semper sem nec nisi hendrerit facilisis. Phasellus hendrerit at odio ut facilisis.
</p>
<h2>Phasellus cursus laoreet venenatis. </h2>
<p>Aliquam consequat magna quis viverra viverra. Ut iaculis nisi vel ligula scelerisque, vitae rhoncus eros maximus. Donec diam orci, iaculis in magna vitae, vehicula efficitur justo. Proin iaculis tempor massa at pellentesque. Aliquam et rhoncus nisi. Donec elementum libero nulla, ac blandit dolor dictum nec. Mauris nec euismod neque. Nulla pharetra condimentum sapien, eu suscipit augue efficitur id. Proin nec elementum ex, imperdiet scelerisque mi. Proin vestibulum placerat magna, molestie dapibus lacus suscipit sed. In maximus velit lacus, in feugiat mauris egestas condimentum.
</p><p>
Sed tincidunt mollis purus, ut dapibus arcu venenatis eu. Nullam hendrerit neque sit amet odio cursus, non malesuada arcu suscipit. Mauris ornare placerat nisl vel mollis. Proin quam tellus, consequat ut quam eu, pretium tincidunt diam. Nunc vulputate ligula eget enim condimentum tempor. Nullam a hendrerit ligula, vitae imperdiet ex. Morbi id efficitur nulla. Quisque eget erat vitae arcu bibendum accumsan. Vestibulum id semper urna. Curabitur magna turpis, mattis id tempor et, egestas ac turpis. Aenean cursus quis tellus at condimentum. Nullam volutpat ornare sem, non ultrices purus scelerisque vel. Sed pharetra ultricies mi. Pellentesque pretium elit semper nunc sodales rhoncus. Donec eu justo quis elit egestas vehicula sed vitae ante. Praesent eu mauris risus.
                </p>
            </div>
        </div>
    </div>
